@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.k-line-field {
  margin: 2rem 0 1rem;
}

.k-kit-form {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fafafa;
}
.k-kit-form .title-field {
  margin-bottom: 2.25rem;
}
.k-kit-form .k-input[data-theme=field][data-invalid] {
  border: 1px solid #ccc;
  box-shadow: none;
}
.k-kit-form .k-input[data-theme=field][data-invalid]:focus-within {
  border: 1px solid #4271ae;
  -webkit-box-shadow: rgba(66, 113, 174, 0.25) 0 0 0 2px;
  box-shadow: 0 0 0 2px rgba(66, 113, 174, 0.25);
}
.k-kit-form textarea {
  min-height: 120px;
}
.k-kit-form--note[data-theme] {
  margin-bottom: 1rem;
  padding-left: 3rem;
  position: relative;
}
.k-kit-form--note[data-theme] a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.k-kit-form--note[data-theme] .k-icon {
  position: absolute;
  margin-left: -2rem;
  height: 100%;
  top: 0;
}
.k-kit-form .k-button .k-icon-loader {
  animation: spin 0.8s linear infinite;
}
.k-kit-form .issue-link {
  margin-left: auto;
}